<div class="w-full bg-background2 rounded-2xl p-4 flex flex-col gap-4">
  <div>
    <app-info-card
      [title]="feature.title"
      [description]="feature.description"
      [icon]="feature.icon"
    ></app-info-card>
  </div>
  <div class="">
    <app-btn
      [text]="'Finalizar semana'"
      [variant]="'raised'"
      [color]="'confirm3'"
      (click)="facade.completeWeek()"
    >
    </app-btn>
  </div>

  <app-dialog
    [isOpen]="facade.showConfirmDialog()"
    [title]="facade.isWeekComplete() ? 'Confirmar acción' : 'Semana incompleta'"
    [closeOnBackdrop]="true"
    [locked]="true"
    (closed)="facade.showConfirmDialog.set(false)"
  >
    @if (facade.loading()) {
      <div class="flex items-center justify-center -ml-24">
        <app-loading></app-loading>
      </div>
    } @else {
      <div class="flex flex-col gap-4">
        <p class="text-text2 text-sm md:text-lg leading-relaxed">
          {{
            facade.isWeekComplete()
              ? '¿Estás seguro de que deseas completar la semana? Esta acción finalizará tu seguimiento actual.'
              : 'Aún tienes entrenamientos sin asignar o completar esta semana. ¿Deseas completarla de todos modos?'
          }}
        </p>

        <div class="flex flex-col gap-2 mt-2">
          <app-btn
            [variant]="'raised'"
            [text]="'Confirmar'"
            [color]="facade.isWeekComplete() ? 'success' : 'error'"
            (click)="facade.isWeekComplete() ? facade.onConfirm() : facade.onConfirmIncomplete()"
          ></app-btn>
          <app-btn
            [variant]="'outline'"
            [text]="'Cancelar'"
            [color]="'error'"
            (click)="facade.showConfirmDialog.set(false)"
          ></app-btn>
        </div>
      </div>
    }
  </app-dialog>

  <app-dialog
    [isOpen]="facade.outOfDateRange() && facade.showOutOfRangeDialog()"
    [title]="'Fecha actual fuera de rango'"
    [closeOnBackdrop]="true"
    [locked]="true"
    (closed)="facade.showOutOfRangeDialog.set(false)"
  >
    <div class="flex flex-col gap-4">
      <p class="text-text2 text-sm md:text-lg leading-relaxed">
        Estás fuera de las fechas de la rutina. ¿Deseas terminar la rutina (incompleta) o seguir con
        la rutina?
      </p>

      <div class="flex flex-col gap-2 mt-2">
        <app-btn
          [variant]="'raised'"
          [text]="'Terminar rutina'"
          [color]="'error'"
          (click)="facade.onConfirmOutOfRange()"
        ></app-btn>
        <app-btn
          [variant]="'outline'"
          [text]="'Seguir con la rutina'"
          [color]="'primary'"
          (click)="facade.onCancelOutOfRange()"
        ></app-btn>
      </div>
    </div>
  </app-dialog>

  <div class="bg-background rounded-2xl p-4 flex items-center justify-evenly gap-4 mb-2 mx-8">
    <div class="flex flex-col">
      <span class="text-xs text-text2">Inicio</span>
      <span class="text-sm font-medium">
        {{ tracking()?.startDate | date: 'dd/MM/yyyy' }}
      </span>
    </div>
    <div class="text-text2 text-2xl">→</div>
    <div class="flex flex-col">
      <span class="text-xs text-text2">Final</span>
      <span class="text-sm font-medium text-confirm2">
        {{ tracking()?.endDate | date: 'dd/MM/yyyy' }}
      </span>
    </div>
  </div>

  <app-navigator-week></app-navigator-week>

  @if (this.tracking()?.planId) {
    <div class="mb-6">
      <h2 class="text-xl font-bold text-primary mb-2">Ejercicios</h2>
      <div class="bg-background3 rounded-lg p-3">
        <div class="flex justify-between items-center text-sm">
          <span class="text-text2">Plan:</span>
          <span class="font-semibold"> {{ facade.planName() || this.tracking()?.planId }} </span>
        </div>
      </div>
    </div>
  }
  <div class="mb-6">
    <div>
      <app-tracking-workout> </app-tracking-workout>
    </div>
  </div>
</div>
