<div class="w-full bg-background2 rounded-2xl p-4 flex flex-col gap-4">
  <div class="">
    <app-btn
      [text]="'Completar semana'"
      [variant]="'raised'"
      [color]="'confirm3'"
      (click)="completeWeek()"
    >
    </app-btn>
  </div>
  <app-dialog
    [isOpen]="showConfirmDialog()"
    [title]="'Confirmar acción'"
    [closeOnBackdrop]="true"
    [locked]="true"
    (closed)="showConfirmDialog.set(false)"
  >
    <div class="flex flex-col gap-4">
      <p class="text-text2 text-sm md:text-lg leading-relaxed">
        ¿Estás seguro de que deseas eliminar esta rutina? Esta acción no se puede deshacer.
      </p>

      <div class="flex flex-col gap-2 mt-2">
        <app-btn
          [variant]="'raised'"
          [text]="'Confirmar'"
          [color]="'success'"
          (click)="onConfirm()"
        ></app-btn>
        <app-btn
          [variant]="'outline'"
          [text]="'Cancelar'"
          [color]="'error'"
          (click)="showConfirmDialog.set(false)"
        ></app-btn>
      </div>
    </div>
  </app-dialog>

  <!-- Fecha de inicio -->
  <div>
    <p class="text-text2 text-sm mb-2">Fecha de inicio: {{ this.tracking()?.startDate | date }}</p>
  </div>

  <app-navigator-week></app-navigator-week>

  <!-- Información del día seleccionado -->
  <!-- @if (this.selectedDay() !== null) { -->
  @if (this.tracking()?.planId) {
    <div class="mb-6">
      <h2 class="text-xl font-bold text-primary mb-2">Ejercicios</h2>
      <div class="bg-background3 rounded-lg p-3">
        <div class="flex justify-between items-center text-sm">
          <span class="text-text2">Plan:</span>
          <span class="font-semibold"> this.tracking()?.planName </span>
        </div>
      </div>
    </div>
  }
  <div class="mb-6">
    <div>
      <app-tracking-workout> </app-tracking-workout>
    </div>
    <!-- } -->
    <!-- } -->

    <!-- <div class="bg-background3 rounded-lg p-3">
        <div class="flex justify-between items-center text-sm">
          <span class="text-text2">Total de ejercicios:</span>
          <span class="font-semibold">{{ getDayExercises(selectedDay()).length }}</span>
        </div>
        <div class="flex justify-between items-center text-sm mt-1">
          <span class="text-text2">Tiempo estimado:</span>
          <span class="font-semibold">{{ getTotalTime(this.selectedDay()) }} min</span>
        </div>
      </div> -->
  </div>

  <!-- <div class="flex flex-col gap-3">
      @for (exercise of getDayExercises(selectedDay()); track exercise.id) {
        <app-card-extra-exercise
          [exercise]="exercise"
          (toggleInput)="toggleExerciseInput(exercise)"
          (deleteExercise)="deleteExercise(exercise)"
        ></app-card-extra-exercise>
      }

      <app-card-add-extra (addExercise)="addNewExercise($event)"></app-card-add-extra>
    </div> -->
  <!-- }} -->
</div>
