{
  "printWidth": 140,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false,
  "arrowParens": "always",
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 140,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
