<section class="container px-4 py-4 max-w-lg mx-auto mt-8 pb-12">
  <section class="profile-card bg-background2 border-2 border-background4 rounded-2xl p-5 mb-6">
    <header>
      <div class="flex items-center justify-between">
        <h2>Perfil</h2>
      </div>
    </header>

    <section class="flex flex-col gap-5 mt-6">
      <div>
        <h2>Datos básicos</h2>
        <p>Name: {{ user()?.name }}</p>
        <p>Email: {{ user()?.email }}</p>
        <!-- <button (click)="editProfile()">Editar</button> -->
      </div>
    </section>

    <section class="flex flex-col gap-5 mt-6">
      <div>
        <h2>Configuración del perfil</h2>
        <p>Peso: {{ profile.weightKg }}</p>
        <p>Altura: {{ profile.heightCm }}</p>
        <p>Fecha de nacimiento: {{ profile.birthDate }}</p>
        <p>Sexo: {{ profile.gender }}</p>
        <p>Nivel: {{ profile.goal?.trainingExperience }}</p>
        <p>Objetivo: {{ profile.goal?.primaryGoal }}</p>
        <!-- <button (click)="editProfile()">Editar</button> -->
      </div>
    </section>

    <section class="mt-6">
      <app-user-profile></app-user-profile>
    </section>

    <section class="flex flex-col gap-3 mt-6 p-4 border rounded bg-background3">
      <h3 class="font-semibold mb-2">Mostrar secciones</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-start">
        <app-checkbox [control]="weightControl" text="Peso"></app-checkbox>
        <app-checkbox [control]="strengthMetricsControl" text="Métricas de fuerza"></app-checkbox>
        <app-checkbox [control]="resourceControl" text="Recursos"></app-checkbox>
        <app-checkbox
          [control]="trainingPreferenceControl"
          text="Rendimiento de entrenamiento"
        ></app-checkbox>
        <app-checkbox
          [control]="healthConstraintsControl"
          text="Restricciones de salud"
        ></app-checkbox>
        <app-checkbox [control]="scheduleControl" text="Horario"></app-checkbox>
        <app-checkbox [control]="goalsControl" text="Objetivos"></app-checkbox>
      </div>
    </section>
    @if (weightControl.value) {
      <section>
        <app-weight></app-weight>
      </section>
    }

    @if (strengthMetricsControl.value) {
      <section>
        <app-strength-metrics></app-strength-metrics>
      </section>
    }
  </section>

  @if (resourceControl.value) {
    <section>
      <app-resource></app-resource>
    </section>
  }

  @if (trainingPreferenceControl.value) {
    <section>
      <app-training-performance></app-training-performance>
    </section>
  }

  @if (healthConstraintsControl.value) {
    <section>
      <app-health-constraints></app-health-constraints>
    </section>
  }

  @if (scheduleControl.value) {
    <section>
      <app-schedule></app-schedule>
    </section>
  }

  @if (goalsControl.value) {
    <section>
      <app-goals></app-goals>
    </section>
  }
</section>
