<div class="flex gap-8 flex-col item-center justify-center w-full">
  @if (this.facade.isRoutine()) {
    <div class="w-full">
      <app-select
        [text]="'Elige una categoria:'"
        [options]="options"
        (clearValue)="this.facade.removeCateogry()"
        [control]="selectControl"
      ></app-select>
    </div>
  } @else {
    <div class="mt-2">
      <app-btn
        [buttonType]="'button'"
        [variant]="'outline'"
        [color]="'primary'"
        [text]="getNameOfSelectControl()"
      ></app-btn>
    </div>
  }

  @if (!this.facade.creatingRoutine()) {
    @if (this.facade.routinesByCategory().length === 0) {
      <app-btn [text]="'No hay Rutinas'" [variant]="'outline'" [color]="'primary'"></app-btn>
    } @else {
      <div class="">
        @if (this.facade.routineSelected()?.id) {
          <app-accordion-item
            [title]="this.facade.routineSelected()?.title || ''"
            [open]="openIndex() === 0"
            (toggle)="toggleAccordion(0)"
            [isSelected]="true"
          >
            <button class="text-sm text-error underline mb-2" (click)="removeRoutine()">
              Quitar Rutina
            </button>

            @if (this.facade.routineSelected()?.exercises) {
              <app-routine-exercises [exercises]="this.facade.routineSelected()?.exercises || []" />
            } @else {
              <p class="text-sm text-gray-400">No hay ejercicios.</p>
            }
          </app-accordion-item>
        } @else {
          <!-- Caso: listado de todas las rutinas -->
          @for (r of this.facade.routinesByCategory(); track r.id; let i = $index) {
            @if (!show) {
              <app-accordion-item
                [title]="r.title"
                [open]="openIndex() === i"
                (toggle)="toggleAccordion(i)"
                [isSelected]="false"
              >
                <button class="text-sm text-primary underline mb-2" (click)="addRoutine(r)">
                  Agregar Rutina
                </button>

                @if (r.exercises) {
                  <app-routine-exercises [exercises]="r.exercises" />
                } @else {
                  <p class="text-sm text-gray-400">No hay ejercicios.</p>
                }
              </app-accordion-item>
            }
          }
        }
      </div>
    }
  }

  @if (show) {
    <app-btn [text]="'Cancelar'" [variant]="'raised'" [color]="'error'" (click)="showExercise()">
    </app-btn>

    <div class="flex">
      <app-routine-exercise-form
        [categoryExercise]="selectControl.value"
      ></app-routine-exercise-form>
    </div>
  } @else {
    @if (this.facade.routineSelected()?.id === undefined) {
      <app-btn
        [text]="'Crear Rutina '"
        [variant]="'raised'"
        [color]="'primary3'"
        (click)="showExercise()"
      >
      </app-btn>
    } @else {
      <app-btn
        [text]="'Cambiar Rutina '"
        [variant]="'raised'"
        [color]="'accent3'"
        (click)="removeRoutine()"
      >
      </app-btn>
    }
  }
</div>
