<div class="flex gap-8 flex-col item-center justify-center">
  @if (!routineSelected()) {
    <div class="w-full">
      <app-select
        [text]="'Elige una opcion:'"
        [options]="options"
        [control]="selectControl"
      ></app-select>
    </div>
  } @else {
    <div class="mt-2">
      <app-btn
        [buttonType]="'button'"
        [variant]="'outline'"
        [color]="'primary'"
        [text]="getNameOfSelectControl()"
      ></app-btn>
    </div>
  }

  @if (routinesDays().length === 0) {
    <app-btn [text]="'No hay Rutinas'" [variant]="'outline'" [color]="'primary'"></app-btn>
  } @else {
    <div class="">
      @if (routineSelected() !== null) {
        <app-accordion-item
          [title]="routineSelected()?.title || ''"
          [open]="openIndex() === 0"
          (toggle)="toggleAccordion(0)"
          [isSelected]="true"
        >
          <button class="text-sm text-error underline mb-2" (click)="removeRoutine()">
            Quitar Rutina
          </button>

          @if (routineSelected()?.exercises) {
            <app-routine-exercises [exercises]="routineSelected()?.exercises || []" />
          } @else {
            <p class="text-sm text-gray-400">No hay ejercicios.</p>
          }
        </app-accordion-item>
      } @else {
        <!-- Caso: listado de todas las rutinas -->
        @for (r of routinesDays(); track r; let i = $index) {
          @if (!show) {
            <app-accordion-item
              [title]="r.title"
              [open]="openIndex() === i"
              (toggle)="toggleAccordion(i)"
              [isSelected]="false"
            >
              <button class="text-sm text-primary underline mb-2" (click)="addRoutine(r)">
                Agregar Rutina
              </button>

              @if (r.exercises) {
                <app-routine-exercises [exercises]="r.exercises" />
              } @else {
                <p class="text-sm text-gray-400">No hay ejercicios.</p>
              }
            </app-accordion-item>
          }
        }
      }
    </div>
  }
  @if (show) {
    <app-btn [text]="'Cancelar'" [variant]="'raised'" [color]="'error'" (click)="showExercise()">
    </app-btn>

    <div class="flex">
      <app-routine-exercise-form
        [categoryExercise]="selectControl.value"
      ></app-routine-exercise-form>
    </div>
  } @else {
    @if (routineSelected() === null) {
      <app-btn
        [text]="'Crear Rutina '"
        [variant]="'raised'"
        [color]="'primary3'"
        (click)="showExercise()"
      >
      </app-btn>
    } @else {
      <app-btn
        [text]="'Cambiar Rutina '"
        [variant]="'raised'"
        [color]="'accent3'"
        (click)="removeRoutine()"
      >
      </app-btn>
    }
  }
</div>
