<div class="bg-background md:p-16 sm:p-6 p-2">
  <h3 class="text-2xl text-primary mb-6">Rutina:</h3>
  <div>
    <app-input
      [label]="'Nombre de tu rutina semanal:'"
      [type]="'text'"
      [placeholder]="'Ingresa un nombre para tu rutina semanal'"
      [control]="nameControl"
    ></app-input>
    <app-input
      [label]="'Descripción: '"
      [type]="'text'"
      [placeholder]="'Ingresa un nombre para tu rutina semanal'"
      [control]="descriptionControl"
    ></app-input>
  </div>

  @if (!this.facade.show()) {
    <div>
      <p>Primero diseña la distribucion de los dias de ejercicio</p>
      <app-select
        [text]="'Elige una opcion:'"
        [options]="options"
        [control]="selectControl"
      ></app-select>
    </div>
  }
  @if (this.facade.show()) {
    <div>
      <app-weekly-routine-planner
        [distribution]="selectControl.value"
        [loading]="this.facade.loading()"
        [notification]="this.facade.notification()"
        (outputSavePlan)="onSubmit($event)"
      ></app-weekly-routine-planner>
    </div>
  }
</div>
