<div class="container px-4 py-4 max-w-lg mx-auto mt-8">
  <div class="text-primary bg-background2 py-8 rounded-xl">
    <h1 class="text-5xl font-bold text-center">Wave-Fit</h1>
    <p class="text-center text-lg mt-4">
      Tu seguimiento diario de calorías, macros, agua y comidas.
    </p>
    <div class="flex justify-center items-center mt-6 space-x-4"></div>
  </div>

  <!-- Fecha con flechas -->
  <div class="flex justify-center items-center mt-8 space-x-4">
    <button (click)="previousDay()" class="bg-primary hover:bg-primaryHover px-4 py-2 rounded-xl">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <h2 class="text-3xl font-bold">{{ currentDate | date: 'dd/MM' }}</h2>
    <button (click)="nextDay()" class="bg-primary hover:bg-primaryHover px-4 py-2 rounded-xl">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>

  <!-- Calorías + macros -->
  <div class="flex flex-wrap justify-center mt-8 gap-8 bg-background rounded-xl p-6">
    <div class="flex flex-col items-center">
      <p class="text-2xl mb-4">Calorías diarias objetivo: 1800</p>
      <div class="w-32 h-32">
        <!-- Chart futuro -->
      </div>
      <p class="mt-4">Consumidas: {{ consumedCalories }} / 1800</p>
    </div>
    <div class="flex flex-col items-start">
      <p class="text-2xl mb-4">Macros ingeridos</p>
      <div class="bg-background2 p-4 rounded">
        <p>Proteínas: {{ macros.proteins }}g</p>
        <p>Grasas: {{ macros.fats }}g</p>
        <p>Carbohidratos: {{ macros.carbs }}g</p>
      </div>
    </div>
  </div>

  <!-- Agua -->
  <div class="flex justify-center mt-8">
    <div class="bg-background2 p-4 rounded-xl w-1/2 text-center">
      <p class="text-2xl">Agua consumida: {{ waterAmount }} ml / 2000 ml objetivo</p>
    </div>
  </div>

  <!-- Comidas -->
  <div class="flex flex-col mt-8 space-y-8">
    <!-- @for(type of meals ; track meals){

        <ng-container>
            <div class="bg-background p-4 rounded-3xl shadow-lg">
                <div class="flex justify-between items-center">
                    <h3 class="text-2xl text-primary capitalize">{{ type }}</h3>
                    <button (click)="addMeal(type)"
                        class="bg-confirm hover:bg-confirmHover px-4 py-2 rounded text-xl">+</button>
                </div>
                <ul class="mt-4">
                    @for (plato of meals[type]; track plato ){

                    <li *ngFor="let plato of meals[type]">{{ plato.name }} - {{ plato.calories }} cal</li>
                    }
                </ul>
            </div>
        </ng-container>
        } -->
  </div>
</div>
