<div class="bg-background rounded-2xl p-2">
  <div class="flex flex-col gap-2 space-x-3 mb-2">
    <div class="flex justify-start items-center gap-1 p-2">
      <div class="w-10 h-10 rounded-lg flex items-center justify-center text-text2">
        <lucide-icon [img]="icon()" [strokeWidth]="2.3" size="28"></lucide-icon>
      </div>
      <h3 class="font-semibold text-lg text-primary">{{ title() }}</h3>
    </div>
    <p class="text-text2 whitespace-pre-line">{{ description() }}</p>
  </div>
</div>
