<section class="w-full">
  <p class="mb-2">
    <span class="text-text2 text-sm">Fecha de Rutina:</span>
    {{ this.facade.workoutVM()?.date | date: 'dd/MM/yyyy' }}
  </p>
  <div class="flex flex-col gap-2">
    @if (this.facade.loadings()) {
      <div class="bg-background3 rounded-lg p-3 mb-4 border border-primary">
        <h4>Cargando...</h4>
        <div class="pl-[128px]">
          <app-loading></app-loading>
        </div>
      </div>
    } @else {
      @if (this.facade.workoutVM()) {
        <main>
          @switch (this.facade.workoutVM()?.status) {
            @case (this.StatusWorkoutSessionEnum.COMPLETE) {
              <section [@switchAnimation]="this.facade.workoutVM()">
                <app-workout-complete-list></app-workout-complete-list>
              </section>
            }
            @case (this.StatusWorkoutSessionEnum.EDITED) {
              <section [@switchAnimation]="this.facade.workoutVM()">
                <app-workout-edition></app-workout-edition>
              </section>
            }
            @case (this.StatusWorkoutSessionEnum.NOT_STARTED) {
              <section class="flex flex-col gap-2">
                <div [@switchAnimation]="this.facade.workoutVM()" class="flex flex-col gap-4">
                  <app-btn
                    [variant]="'raised'"
                    [text]="'Completar el dia'"
                    [color]="'primary3'"
                    [isDisabled]="!this.facade.validateWorkout()"
                    (click)="startRoutineTracking()"
                  >
                    <app-icon>
                      <div class="h-6 w-6">
                        @if (this.facade.loading()) {
                          <app-spinner> </app-spinner>
                        }
                      </div>
                    </app-icon>
                  </app-btn>
                  <app-workout-in-progress></app-workout-in-progress>
                </div>

                <div>
                  <!-- agregar ejercicio -->
                  <app-btn
                    [text]="'Agregar ejercicio'"
                    [variant]="'stroked'"
                    [color]="'primary'"
                    [size]="'md'"
                    (click)="openDialog()"
                    [showIcon]="true"
                  >
                    <app-icon>
                      <div class="h-6 w-6">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 h-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 4.5v15m7.5-7.5h-15"
                          />
                        </svg>
                      </div>
                    </app-icon>
                  </app-btn>

                  <app-dialog
                    [isOpen]="isDialogOpen()"
                    (closed)="closeDialog()"
                    [title]="'Selector de ejercicios'"
                    [closeOnBackdrop]="true"
                  >
                    <app-exercise-selector></app-exercise-selector>
                    <div class="mt-4 flex justify-end">
                      <app-btn
                        [text]="'Finalizar'"
                        [variant]="'flat'"
                        [color]="'primary'"
                        (click)="closeDialog()"
                      ></app-btn>
                    </div>
                  </app-dialog>
                </div>
              </section>
            }
            @case (this.StatusWorkoutSessionEnum.REST) {
              <section
                class="bg-secondary/10 border-secondary/30 bg-background2 rounded-2xl p-6 mb-6 flex flex-col items-center justify-center text-center gap-4 shadow-sm"
              >
                <div
                  class="h-16 w-16 text-secondary bg-secondary/10 rounded-full flex items-center justify-center mb-1"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-8 h-8"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm3.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Z"
                    />
                  </svg>
                </div>
                <h4 class="text-text1 font-medium text-lg leading-snug">
                  {{ this.randomRestMessage }}
                </h4>
                <p class="text-text2 text-sm max-w-[250px]">
                  Tómate este tiempo para recuperarte. ¡Mañana volvemos con más energía!
                </p>
              </section>
              <app-btn
                class="w-full flex justify-center"
                [variant]="'stroked'"
                [color]="'primary'"
                [text]="'Cambiar a día de entrenamiento'"
                (click)="this.facade.setRestDay()"
              >
              </app-btn>
            }
          }
        </main>
        <app-extra-session-content></app-extra-session-content>
      }
    }
  </div>
</section>
