<div class="flex gap-8 flex-col md:flex-row">
    <app-select [placeholder]="'Seleccione'" [text]="'Elige una opcion:'" [options]="options"
        [control]="selectControl"></app-select>

    @if ( routinesDays().length === 0 && isSearchedRoutines ){
    <div class="flex flex-col md:flex-row gap-12">
        <p>No hay Rutinas</p>
    </div>

    @if (show) {
    <app-btn [text]="'Cancelar'" [variant]="'raised'" [color]="'error'" (click)="showExercise()"> </app-btn>

    <div class="flex">
        <app-routine-exercise-form [categoryExercise]="selectControl.value"></app-routine-exercise-form>
    </div>
    } @else{
    <app-btn [text]="'Crear Rutina '" [variant]="'raised'" [color]="'secondaryDark'" (click)="showExercise()">
    </app-btn>
    }
    } @else {
    @for (r of routinesDays(); track r) {
    <!-- <app-routine-list-item [routineDay]="r" (deleted)="onDeleteRoutine -->
    <ul role="listbox" tabindex="0" class="listbox">
        <p>{{r.title}}</p>
    </ul>
    }
    }
</div>