<div class="flex gap-8 flex-col md:flex-row">
    <app-select [placeholder]="'Seleccione'" [text]="'Elige una opcion:'" [options]="options"
        [control]="selectControl"></app-select>

    @if ( routinesDays.length === 0 && isSearchedRoutines ){
    <div>
        <p>No hay</p>
        <!-- <app-btn  -->
        <app-btn [text]="'Crear Rutina '" [variant]="'raised'" [color]="'secondaryDark'" (click)="showExercise()">
        </app-btn>
        @if (show) {
        <div class="flex flex-col">
            <app-routine-exercise-form></app-routine-exercise-form>
        </div>
        }
    </div>
    } @else {
    <ul role="listbox" tabindex="0" class="listbox">
        <p>{{routinesDays}}</p>

        @for (item of items; track item.id) {
        <li role="option" (click)="pickId(item.id)" (keydown.enter)="pickId(item.id)" tabindex="0"
            [attr.aria-selected]="item.id === selected">
            <div class="title">{{ item.title }}</div>
            <div class="meta">{{ item.durationMinutes }} min • {{ item.difficulty }}</div>
        </li>
        }
    </ul>
    }
</div>