.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar vertical */
  height: 6px; /* Alto del scrollbar horizontal */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}