@if (isVisible()) {
  <div
    [class]="animationClass()"
    class="m-2 rounded-lg shadow-lg overflow-hidden border-b-4 transition-all"
    [class.border-green-500]="type() === 'success'"
    [class.border-red-500]="type() === 'error'"
    [class.border-yellow-500]="type() === 'warning'"
    [class.border-blue-500]="type() === 'info'"
  >
    <div class="bg-background3 flex items-center justify-between px-2 py-2">
      <!-- Ícono y Mensaje -->
      <div class="flex items-center gap-3">
        <div class="w-6 h-6 rounded-full flex items-center justify-center" [class]="iconBgClass()">
          <span class="text-white text-xs font-bold">
            {{ icon() }}
          </span>
        </div>
        <span class="text-white font-medium text-sm truncate sm:w-full">{{ message() }}</span>
      </div>

      <!-- Botón Cerrar -->
      <button
        (click)="close()"
        class="text-white font-medium hover:text-gray-300 transition-colors duration-200 px-3"
      >
        Close
      </button>
    </div>
  </div>
}
