<div class="planner">
  <div class="" role="list">
    <app-days-routine-progress
      [daysSelected]="daysSelected()"
      [distribution]="this.distribution"
    ></app-days-routine-progress>
    <div>
      <app-day-of-routine></app-day-of-routine>
    </div>

    <div>
      @for (d of days(); track d) {
        @if (d.expanded && d.expanded === true) {
          <app-week-day-cell [day]="d" (kindChange)="onToggleKind(d, $event)"> </app-week-day-cell>
        }
      }
    </div>
  </div>

  <div class="actions">
    <app-btn
      [text]="'Guardar plan'"
      [variant]="'raised'"
      [color]="'secondaryDark'"
      (click)="savePlan('Mi rutina', 'desc')"
    >
    </app-btn>
  </div>
</div>
