<div
  class="w-full bg-background3 h-12 rounded-md grid grid-cols-7 gap-2 rounded-md overflow-hidden mb-4"
>
  @for (d of dayPlan(); track d) {
    <div
      class="w-full bg-primaryDark hover:bg-primary flex flex-col items-center justify-center text-white font-medium transition-colors duration-150 cursor-pointer"
      [class.bg-success]="d.expanded"
      [class.font-bold]="d.expanded"
      (click)="changeExpanded(d)"
    >
      @if (d.day) {
        <p>Día {{ d.day }}</p>
      } @else {
        <p>Día {{ d.day }}</p>
      }
      <p class="text-sm mb-1">
        {{ !d?.workoutType ? d.kind : d.workoutType }}
      </p>
    </div>
  }
</div>
