<div
  class="w-full bg-background3 h-12 grid grid-cols-7 overflow-hidden border-x-2 border-t-2 border-primary rounded-t-xl"
>
  @for (d of dayPlan(); track d.day) {
    <div
      class="w-full bg-background2 flex flex-col items-center justify-center text-white font-medium transition-colors duration-150 cursor-pointer"
      [class.font-bold]="d.expanded"
      [class.border-hover:bg-primary]="d.kind === 'WORKOUT' && d.routineId"
      [class.border-hover:bg-secondary]="d.kind === 'WORKOUT' && d.workoutType && !d.routineId"
      [class.border-hover:bg-accent]="d.kind === 'REST'"
      (click)="changeExpanded(d)"
    >
      @if (d.day) {
        <!-- Día expandido -->
        @if (d.expanded) {
          @if (d.kind === 'WORKOUT' && d.routineId) {
            <!-- WORKOUT completo expandido -->
            <p
              class="rounded-full border border-2 border-primary3 h-8 w-8 flex items-center justify-center font-bold text-primary"
            >
              ✓
            </p>
          } @else if (d.kind === 'WORKOUT' && d.workoutType && !d.routineId) {
            <!-- WORKOUT incompleto expandido -->
            <p
              class="rounded-full border border-2 border-primary3 h-8 w-8 flex items-center justify-center font-bold text-accent"
            >
              !
            </p>
          } @else if (d.kind === 'WORKOUT') {
            <!-- WORKOUT sin categoría expandido -->
            <p
              class="rounded-full border border-2 border-primary3 h-8 w-8 flex items-center justify-center font-bold text-primary"
            >
              {{ d.day }}
            </p>
          } @else if (d.kind === 'REST') {
            <!-- REST expandido -->
            <p
              class="rounded-full border border-2 border-primary3 h-8 w-8 flex items-center justify-center font-bold bg-secondaryDark text-secondary"
            >
              {{ d.day }}
            </p>
          } @else {
            <!-- Sin kind expandido -->
            <p
              class="rounded-full border border-2 border-primary3 h-8 w-8 flex items-center justify-center font-bold text-primary"
            >
              {{ d.day }}
            </p>
          }
        }
        <!-- Día NO expandido -->
        @else {
          @if (d.kind === 'WORKOUT' && d.routineId) {
            <!-- WORKOUT completo -->
            <p
              class="rounded-full border border-primary2 h-8 w-8 flex items-center justify-center text-text3 bg-background3"
            >
              ✓
            </p>
          } @else if (d.kind === 'WORKOUT' && d.workoutType && !d.routineId) {
            <!-- WORKOUT con categoría pero sin rutina -->
            <p
              class="rounded-full border border-accent h-8 w-8 flex items-center justify-center text-accent bg-background3"
            >
              !
            </p>
          } @else if (d.kind === 'WORKOUT') {
            <!-- WORKOUT sin categoría -->
            <p
              class="rounded-full border border-primary2 h-8 w-8 flex items-center justify-center text-text3 bg-background3"
            >
              {{ d.day }}
            </p>
          } @else if (d.kind === 'REST') {
            <!-- REST -->
            <p
              class="rounded-full border border-secondary h-8 w-8 flex items-center justify-center text-white bg-background3"
            >
              {{ d.day }}
            </p>
          } @else {
            <!-- Sin kind definido -->
            <p class="rounded-full border h-8 w-8 flex items-center justify-center">
              {{ d.day }}
            </p>
          }
        }
      } @else {
        <p>{{ d.day }}</p>
      }
    </div>
  }
</div>
<div class="transition-colors duration-150">
  <div
    class="w-full bg-primaryDark flex flex-col items-center justify-center font-medium border-t-2 border-primary py-1 text-text2 border-2 border-primary"
    [class.rounded-b-xl]="computedDayPlan()?.kind !== 'WORKOUT'"
  >
    <p class="text-text3">Día {{ computedDayPlan()?.day }}</p>
    <p class="text-sm mb-1" [class.text-text2]="computedDayPlan()?.kind === 'REST'">
      {{ computedDayPlan()?.kind }}
    </p>
  </div>
  @if (computedDayPlan()?.kind === 'WORKOUT') {
    <div
      class="rounded-b-xl flex itemx-center justify-center bg-background4 border-b-2 border-x-2 border-primary py-2"
    >
      <p class="text-lg mb-1 text-primaryLight">
        {{ computedDayPlan()?.workoutType | exerciseCategory }}
      </p>
    </div>
  }
</div>
