/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/fonts/Work-Sans/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/fonts/Work-Sans/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/fonts/Work-Sans/WorkSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@keyframes puls-in {
  0% {
    box-shadow: inset 0 0 0 1rem currentColor;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 currentColor;
    opacity: 0;
  }
}

@keyframes puls-out {
  0%, 50% {
    box-shadow: 0 0 0 0 currentColor;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem currentColor;
    opacity: 1;
  }
}

.animate-puls-in {
  animation: puls-in 1.8s ease-in-out infinite;
}

.animate-puls-out {
  animation: puls-out 1.8s ease-in-out infinite;
}
